.simple-keyboard {
  background: #1e1e1e;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.hg-button {
  background: #333;
  color: white;
  border: 1px solid #444;
}

.hg-button:active {
  background: #555;
}
